* {
  /* outline: 1px dotted red; */
}

div.container {
  width: 970px;
  min-height: 100px;
}

  div.header,
  div.body,
  div.footer {
    min-height: 50px;
    width: 100%; /* of it's parent container */
  }

  div.header {
    background-color: rgb(210, 210, 210);
    border-radius: 20px;
  }
    div.header > h1{ /* look at the first > h1 tag */
      /* background-color: red; */
      padding: 15px;
      margin: 0;
    }

  div.body{
    margin-top: 30px;
    margin-bottom: 30px;
    /* margin: 30px 0 30px 0; */
    /* margin: 30px 0; */
  }
    div.nav {
      border-radius: 20px;
      width: 29%;
      min-height: 250px;
      display: inline-block;
      vertical-align: top;
      background-color: rgb(210, 210, 210);
    }
      div.nav > h3 {
        padding-left: 23px;
        margin-bottom: 0;
      }
    
      div.nav ul {
        margin-top: 0;
        padding-left: 44px;
      }
      div.nav li {
        padding: 0;
      }
        div.nav .stuff {
          padding-left: 20px;
        }

    div.content {
      box-sizing: border-box;
      padding-left: 30px;
      margin-left: 20px;
      border-radius: 20px;
      width: 68%;
      min-height: 350px;
      display: inline-block;
      vertical-align: top;
      background-color: rgb(150, 150, 150);
    }
      div.content li {
        /* background-color: red; */
        margin-bottom: 10px;
      }

  div.footer {
    border-radius: 20px;
    background-color: rgb(210, 210, 210);
  }
    div.footer p {
      /* background-color: red; */
      padding: 5px 0 0 20px ;
    }